# Ignore Google Apps Script files and backend folder
*.gs
backend/
*tailwindcss.exe
*.exe
*.exe.exe
*build-tailwindcss
*.early.coverage
*client_secret_967200877297-47fl0ru4hucdbpasa1p7vr174b4mjp1b.apps.googleusercontent.com.JSON